# dependencies
/node_modules

# production build
/dist
/.parcel-cache

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# env files (important)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local